*, *:before, *:after {box-sizing:  border-box;}

body{
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 line-height: 1.7;
 background-image: url('../images/dust_@2X.png');
}

.logo-box{
z-index: 99;
height: 60px;
width: 60px;
position:fixed;
left:5;
top:0;
opacity: .8;
}

.logo-holder{
  position: absolute;
  top: 0px;
height: 60px;
width: 60px;

}

#logo-name{
  padding-left: 80px;
}

#topic-list{
  width: 100%;
  background: none;
}

.topic-list-item{
  text-transform: uppercase;
  border-radius: 0;
  color:#e10a0a;
  font-size: 13px;
  border-right: solid 1px #e10a0a;
}

.topic-list-item:last-child{
  border-right: none;
}

.topic-list-item:hover{
  background-color: #e10a0a;
  color: white;

}

.search-btn:hover{
  color: gray;
  border-color: gray;
}

.save-btn:hover{
  color: white;
  background-color: #e10a0a;
}

.search-btn{
  color: white;
  background-color: #222;
  border-color: white;
}

.save-btn{
  background-color: none;
  border-color: #e10a0a;
  color: #e10a0a;
}


.card-header{
  background: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase; 
}

.article-title {
  border-bottom: 1px solid lightgray;
    font-size: 20px;
    font-weight: 500;
 
}


.article-title a: hover{
text-decoration: none;
color: #e10a0a;
}


.article-date{
  font-size: 15px;
  font-weight: 500;  

}

.card-other{

  border-radius: 0;
  border: none;

}

.card-shadow{
 margin-top: 20px;
  border-radius: 0;
  border: none;
  background: #F7F7F9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card{
 margin-top: 20px;
 padding: 20px;
  border-radius: 0;
  border: none;
  background: #F7F7F9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.card-title a{
  color: black;


}

.card-title a:hover{
  color: gray;
}

.navbar{
  background-color: #333;
  min-height: 60px;

   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav-item li{
  color: #e10a0a;
}


.nav-item:hover{
  background-color: #212121;
  color: white;

}

.navbar-toggler {
   border: none;
}

.navbar{
  background-color: #3e3f42;
}

.nav-item li{
  color: #e10a0a;
}

.navbar-toggler {
   border: none;
}

.article-content{
  width: 100%;
  font-size: 18px;
  font-weight: 200;
  color: grey;
 /* margin-left: 3%*/;
}


#main-content-wrapper{
  width: 70%;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 450px}

 /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1 ;
      height: 100%;
    }

 /* Set black background color, white text and some padding */
    footer {
      background-color: #3e3f42 ;
      color: white;
      padding: 10px;
    }

@media screen and (max-width: 1380px) {
  #main-content-wrapper{
    width: 85%;
  }
}

@media screen and (max-width: 1024px) {
  #main-content-wrapper{
    width:95%;
  }
}

@media screen and (max-width: 767px) {
  #logo-name{
    display: none;
  }
}

 /* On small screens, set height to 'auto' for sidenav and grid */
  /*@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    
   .row.content {height: auto;}
    }

   .ads {
      height: 20%;
      background: #D3D3D3 ;
      margin-top: 5%;
    }

   .scroll {
      height:450px;
      overflow-y: scroll;
    }*/

.footerdiv{
 display: inline-block;
 text-align: end;
 width: 24%;
}

#footertopdiv{
  float: right;
}

ul {
  list-style: none;
}


.article-content {
  overflow-y: scroll; 
  height:435px;
}

.breaking-news-title { 
  border-bottom: 1px solid lightgray;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.2;
}

.breaking-news-title a{
  font-size: 14px;
  color: black;
}

.breaking-news-title a:hover{
  text-decoration: none;
  font-weight: 400;
}


#breaking-news-header {
  background-color: #e10a0a;
  margin: 20px;
  border-radius: 0;
  color: white;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.scrolling-news{
  display:inline-block;
  margin-right: 10px;
  color: black;
  font-weight: 200;
  text-decoration: none;
}


.scrolling-news a:hover{
text-decoration: none;
color: #e10a0a;
}

