*, *:before, *:after {box-sizing:  border-box;}


.card{
  background-color: lightgray;
  border: none;
  border-radius: 0;
}

.navbar{
  background-color: #222;
}

.nav-item li{
  color: white;
}

.navbar-toggler {
   border: none;
}

.navbar-brand{
  color: white;
}

.main-content{
  background-color: lightgray;
}

#main-content-wrapper{
  width: 90%;
}

#breaking-news-carousel{
  background-color: lightgray;
  width: 100%;
  height: auto;
}

#topic-list li {
    float: left;
    color: white;
    /*padding: 15px;*/
}

#topic-list li:hover {
    color: lightgray;
}

/*#map-box{
  width: 30%
  height: auto;
}*/

.headline{
  border-bottom: 1px solid black;
}

.img-map {
  background-image: url("../images/world-map.jpg");
  height: 450px;
  opacity: 0.5;
}
  

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 450px}

 /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1 ;
      height: 100%;
    }

 /* Set black background color, white text and some padding */
    footer {
      background-color: #D3D3D3 ;
      color: white;
      padding: 10px;
    }

 /* On small screens, set height to 'auto' for sidenav and grid */
  /*@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    
   .row.content {height: auto;}
    }

   .ads {
      height: 20%;
      background: #D3D3D3 ;
      margin-top: 5%;
    }

   .scroll {
      height:450px;
      overflow-y: scroll;
    }*/