*, *:before, *:after {box-sizing:  border-box;}

body{
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
}

#topic-list{
  width: 100%;
  display: table;
}

.topic-list-item{
  text-transform: uppercase;
  border-radius: 0;
}

.topic-list-item:hover{
  background-color: #e10a0a;
  color: white;

}

.search-btn:hover{
  color: gray;
  border-color: gray;
}

.save-btn:hover{
  color: white;
  background-color: #e10a0a;
}

.search-btn{
  color: white;
  background-color: #222;
  border-color: white;
}

.save-btn{
  background-color: none;
  border-color: #e10a0a;
  color: #e10a0a;
}


.card-header{
  font-size: 20px;
  font-weight: bolder;
}

.article-title{
  border-bottom: 1px solid lightgrasy;
}

.article-date{
  font-size: 15px;  
}

.card{
  border-radius: 0;
  border: none;
}

.card-title a{
  color: black;
  font-size: 30px;
  /*font-weight: bold;*/
}

.card-title a:hover{
  color: gray;
}

.navbar{
  background-color: #222;
}

.nav-item li{
  color: #e10a0a;
}

.navbar-toggler {
   border: none;
}

.article-content{
  width: 97%;
  font-size: 20px;
  margin-left: 3%;
}


#main-content-wrapper{
  width: 90%;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 450px}

 /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1 ;
      height: 100%;
    }

 /* Set black background color, white text and some padding */
    footer {
      background-color: #222 ;
      color: white;
      padding: 10px;
    }


@media screen and (max-width: 767px) {
  #logo-name{
    display: none;
  }
}

 /* On small screens, set height to 'auto' for sidenav and grid */
  /*@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    
   .row.content {height: auto;}
    }

   .ads {
      height: 20%;
      background: #D3D3D3 ;
      margin-top: 5%;
    }

   .scroll {
      height:450px;
      overflow-y: scroll;
    }*/


.footerdiv{
 display: inline-block;
 text-align: end;
 width: 24%;
}

#footertopdiv{

  float: right;
}

ul {
  list-style: none;
}

.urlDiv {
  display: inline-block;
  padding-bottom: 20px;
}